*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

header{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

nav{
    margin: 0px auto;
    padding: 15px;
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul{
    list-style-type: none;
    display: flex;
    gap: 32px;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

nav button{
    background-color: #30B868;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    
}

nav button:hover {
    background-color: #279a56;
    transition: 100ms ease;
}


#hero{
    width: 100%;
    flex-grow: 1;
    background: url(assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;

}