*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

header{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

}

nav{
    max-height: 80px;
    margin: 0px auto;
    padding: 15px;
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul{
    list-style-type: none;
    display: flex;
    gap: 32px;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul li a:hover{
    color: #30B868;
    transition: 100ms ease;
}

.btn{
    background-color: #30B868;
    color: white;
    padding: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}

.btn:hover {
    background-color: #279a56;
    transition: 100ms ease;
}


#hero{
    width: 100%;

    background: url(assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#ea{
    height: 35px;
    width: 230px;
    background-color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border-radius: 50px;
}
#ea p{
    color: #30B868;
    font-weight: 500;
    
}

#hero h1{
    font-size: 80px;
}

.white{
    color: white;
}
.green{
    color: #30B868;
}

.hero-text{
    text-align: center;
    color: white;
    line-height: 2;
}

.hero-button{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.hero-button .btn{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.rbtn{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: white;
    padding: 16px;
    border: 1px white solid;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}

.rbtn:hover{
    background-color: black;
    color: white;
    border: 1px black solid;

}


#card-section{
    width: 100%;
    padding-top: 60px;
    margin: 0 auto;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#card-section h3{
    font-size: 55px;
    font-weight: bold;
}
#card-section p{
    font-size: 16px;
    color: #627382;
    font-weight: 400;

}

.card{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    position: relative;
    z-index: 5;

}

.scard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 16px;
    width: 100%;
    max-width: 350px;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
    min-height: 300px;
    padding: 60px 30px;
}

.shape{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #F95555;
}

.scard:nth-child(1) .shape {
    background-image: url(assets/Vector.png); 
    background-repeat: no-repeat;
    background-position: center;
}

.scard:nth-child(2) .shape {
    background-image: url(assets/Bookmarks.png); 
    background-repeat: no-repeat;
    background-position: center;
}

.scard:nth-child(3) .shape {
    background-image: url(assets/Brain.png); 
    background-repeat: no-repeat;
    background-position: center;
}

.scard:nth-child(4) .shape {
    background-image: url(assets/Info.png); 
    background-repeat: no-repeat;
    background-position: center;
}

.scard h4{
    font-size: 25px;
    font-weight: 600;
}

.scard p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}


#brain{
    margin: 0 auto;
    margin-top: -50px;
    position: relative;
    z-index: 10;
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    min-height: 840px;
}

#brain-main{
    padding: 120px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    
}

.brain-text{
    text-align: left;
    max-width: 600px;
}

.brain-text p:nth-child(1){
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
}

.brain-text h3{
    padding-top: 16px;
    font-size: 55px;
    font-weight: bold;
}

.brain-text p:nth-child(3){
    padding-top: 16px;
    font-size: 16px;
    font-weight: 500;
    color: #627382;
}

.brain-text ul{
    list-style-type: none;
    padding-top: 40px;
}

.brain-text ul li{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.brain-text ul li::before{
    content: url(assets/CheckCircle.png);
}



#challenge{
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 510px;
}

.challenge-container{
    width: 85%;
    min-height: 385px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F7F6F2;
    border-radius: 12px;
    gap: 16px;
}

.challenge-container h3{
    font-size: 45px;
    font-weight: bold;
}

.challenge-container p:nth-of-type(1){
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #627382;
    padding-bottom: 8px;
}

.challenge-container p:nth-of-type(2){
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #627382;
}
.challenge-container button{
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 1;
}
.challenge-container button::after{
    content: url(assets/ArrowRight.png);

}

footer{
    background-color: #001931;
    padding: 120px 120px 50px 120px;
    color: white;
    max-width: 100vw;
    min-height: 300px;
    width: 100%;
}

.foot-top{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.foot-link h3{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.foot-link ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}


.foot-bottom{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.foot-bottom hr{

    width: 100%;
    margin-top: 80px;
    border: none;
    border-top: 1px #374149 solid;
}

.foot-bottom p{
    font-size: 16px;
    font-weight: 400;
    color: #FAFAFA;
}