*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

header{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* overflow-y: auto; */
}

nav{
    margin: 0px auto;
    padding: 15px;
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul{
    list-style-type: none;
    display: flex;
    gap: 32px;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

.btn{
    background-color: #30B868;
    color: white;
    padding: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}

.btn:hover {
    background-color: #279a56;
    transition: 100ms ease;
}


#hero{
    width: 100%;

    background: url(assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#ea{
    height: 35px;
    width: 230px;
    background-color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border-radius: 50px;
}
#ea p{
    color: #30B868;
    font-weight: 500;
    
}

#hero h1{
    font-size: 80px;
}

.white{
    color: white;
}
.green{
    color: #30B868;
}

.hero-text{
    text-align: center;
    color: white;
    line-height: 2;
}

.hero-button{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.hero-button .btn{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.rbtn{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: white;
    padding: 16px;
    border: 1px white solid;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}

.rbtn:hover{
    background-color: black;
    color: white;
    border: 1px black solid;

}


#card-section{
    width: 100%;
    padding-top: 60px;
    margin: 0 auto;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#card-section h3{
    font-size: 55px;
    font-weight: bold;
}
#card-section p{
    font-size: 16px;
    color: #627382;
    font-weight: 400;

}

.card{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.scard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 16px;
    width: 100%;
    max-width: 350px;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.10);
    min-height: 300px;
    padding: 60px 30px;
}

.shape{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #F95555;
}

.scard:nth-child(1) .shape {
    background-image: url(assets/Vector.png); 
    background-repeat: no-repeat;
    background-position: center;
}

.scard:nth-child(2) .shape {
    background-image: url(assets/Bookmarks.png); 
    background-repeat: no-repeat;
    background-position: center;
}

.scard:nth-child(3) .shape {
    background-image: url(assets/Brain.png); 
    background-repeat: no-repeat;
    background-position: center;
}

.scard:nth-child(4) .shape {
    background-image: url(assets/Info.png); 
    background-repeat: no-repeat;
    background-position: center;
}

.scard h4{
    font-size: 25px;
    font-weight: 600;
}

.scard p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}